@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<div class="container-fluid">
    <div class="photo mt-4 d-flex justify-content-center roundred border border-danger border-5 bg-danger " style="background-image: url(https://i.hizliresim.com/fokcp3g.jpg);">
        <h1 class="text-white align-self-center text-xl">BİZ KİMİZ ?</h1>
    </div>
    <div class="mx-5">
        <div class="m-5 p-3">
            <h4 class="text-center lead"> Otomotiv sektöründe "müşteri memnuniyeti" ilkesine gerçek anlamıyla sadık kalıp başarısının sürekliliğini sağlayan Toyota, İnsan Kaynakları yönetiminde de bu ilkeyi esas almaktadır. Şirketin başarısında ve rekabet üstünlüğü sağlamasında en büyük payın çalışanların olduğuna inanmakta ve çalışanlarımızı en değerli varlığımız olarak görmekteyiz.</h4>
        </div>

        <div class="m-5 p-3">
            <h5 class="mb-5">TOYOTA TÜRKİYE PAZARLAMA ve SATIŞ A.Ş.</h5>
            <p class="mb-5">
                Şirketimiz , Türkiye otomotiv sektöründe Toyota markalı araçların pazarlama, satış ve satış sonrası hizmetlerinden sorumlu uluslararası bir distribütör firmadır. 3 farklı lokasyonda hizmet vermektedir. Kartal’da Genel Müdürlük , Orhanlı’da Eğitim ve Yedek Parça Depo, Adapazarı’nda Satış Dağıtım Merkezi bulunmaktadır.
                1 Ekim 2000 yılında %65 Sabancı Holding, %25 Toyota Motor A.Ş. ve %10 Mitsui ortaklığında kurulmuştur. 2009 yılında Sabancı Holding’e ait %65’lik hisseyi ALJ A.Ş. satın almıştır. 1 Ekim 2009 itibariyle %100 ALJ Holding’e bağlı yabancı sermayeli bir firma olarak faaliyetlerine devam etmektedir.
            </p>
            <h5 class="mb-5">BİZ KİMİZ?</h5>
            <p class="mb-5">Otomotiv sektöründe "müşteri memnuniyeti" ilkesine gerçek anlamıyla sadık kalıp başarısının sürekliliğini sağlayan Toyota, İnsan Kaynakları yönetiminde de bu ilkeyi esas almaktadır. Şirketin başarısında ve rekabet üstünlüğü sağlamasında en büyük payın çalışanların olduğuna inanmakta ve çalışanlarımızı en değerli varlığımız olarak görmekteyiz. “We Respect, We Kaizen” sloganıyla yola çıktığımız tüm çalışmalarımızda hem çalışanlarımıza hem birlikte iş yaptığımız paydaşlarımıza karşı saygıyı ön plana koyuyoruz. Yaptığımız işi her zaman daha iyi yapma bilinciyle hareket ediyor ve bu bağlamda çalışanlarımızın gelişimini önceliğimize alıyoruz.</p>
            <h5 class="mb-5">MİSYONUMUZ</h5>
            <p class="mb-5">Şirketin hedeflerine ulaşmasını sağlayacak insan kaynağının etkin yönetimi için; çalışanları hem bireysel hem de takım olarak geliştirerek performanslarını artırmalarını sağlayacak İnsan Kaynakları sistemlerini kurmak ve uygulamak, bu yolla çalışanlar tarafından en beğenilen, saygı duyulan ve tercih edilen bir firma olmak.</p>
            <h5 class="mb-5">TOYOTA WAY DEĞERLERİ</h5>
            <img class="mb-5 border-start border-5 border-danger" src="https://i.hizliresim.com/1crk06d.jpg" alt="toyotaway">
            <h5 class="mb-5 ">ŞİRKET PROFİLİ</h5>
            <img src="https://i.hizliresim.com/699wpba.jpg" alt="sirketprofili" class="border-start border-5 border-danger">
        </div>
    </div>
