@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-top: 5px; background-color: white;" id="demo" class="carousel slide col-md-"
        data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="8"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="9"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner ">

            <div class="carousel-item active">
                <a href="#Corolla" class="nav-link">
                <img src="https://i.hizliresim.com/7ivmr6p.png" alt="Corolla Passion X-Pack" class="d-block bg-dark " style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white ">COROLLA PASSİON X-PACK</h4>
                    <h1 class="p-3"> Deri ön kol dayama | Elektronik park freni | Ön bardaklıklarda mavi ışıklandırma |
                        12V güç çıkışı</h1>
                </div>
            </a>
            </div>


            <div class="carousel-item ">
                <a href="#Hilux" class="nav-link">
                <img src="https://i.hizliresim.com/asmbfbi.png" alt="HILUX 4X4 INVINCIBLE A/T" class="d-block bg-dark  " style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">HILUX 4X4 INVINCIBLE A/T</h1>
                        <h1 class="p-3"> Kapı içlerinde ambiyans aydınlatma | Anahtarsız Çalıştırma Sistemi | Akıllı
                            Telefon Entegrasyonu | JBL Premium Ses Sistemi</h1>
                </div>
            </a>
            </div>


            <div class="carousel-item">
                <a href="#CHR" class="nav-link">
                <img src="https://i.hizliresim.com/d3e5fr5.png" alt="C-HR HYBRID PASSION X-PACK" class="d-block bg-dark" style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">C-HR HYBRID PASSION X-PACK</h1>
                        <h1 class="p-3">Fren Destekli Akıllı Ön/Arka Park Sensörleri (ICS) | Geri Manevra Trafik Uyarı
                            Sistemi (Fren Destekli) (RCTB) | Kör Nokta Uyarı Sistemi (BSM)</h1>
                </div>
            </a>
            </div>

            <div class="carousel-item">
                <a href="#HATCHBACK" class="nav-link">
                <img src="https://i.hizliresim.com/cev498d.png" alt="COROLLA HATCHBACK HYBRID PASSION X-PACK" class="d-block bg-dark" style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">COROLLA HATCHBACK HYBRID PASSION X-PACK</h1>
                        <h1 class="p-3">7" Renkli TFT Ekran | Çift Bölgeli Otomatik Klima | 
                            Kablosuz Şarj Ünitesi | Akıllı Telefon Entegrasyonu(Apple Car Play& Andorid Auto)</h1>
                </div>
            </a>
            </div>

            <div class="carousel-item">
                <a href="#RAV4" class="nav-link">
                <img src="https://i.hizliresim.com/wxtjhpy.png" alt="RAV4 HYBRID PASSION X-SPORT - 4X4" class="d-block bg-dark" style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">RAV4 HYBRID PASSION X-SPORT - 4X4</h1>
                        <h1 class="p-3">  7" Renkli TFT Ekran | Dijital Kameralı İç Dikiz Aynası | Kablosuz Şarj Ünitesi | 9 hoparlör</h1>
                </div>
            </a>
            </div>

            <div class="carousel-item">
                <a href="#CAMRY" class="nav-link">
                <img src="https://i.hizliresim.com/lbwgtal.png" alt="CAMRY HYBRID PASSION" class="d-block bg-dark" style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">CAMRY HYBRID PASSION</h1>
                        <h1 class="p-3"> Isıtma ve Soğutmalı Sürücü ve Ön Yolcu Koltukları | Ön Cama Yansıtmalı Renkli Gösterge Ekranı (Head Up Display) | 
                            Akıllı Telefon Entegrasyonu | JBL Premium Ses Sistemi</h1>
                </div>
            </a>
            </div>

            <div class="carousel-item">
                <a href="#YARIS" class="nav-link">
                <img src="https://i.hizliresim.com/48jpjt8.png" alt="YARIS PASSION HYBRID" class="d-block bg-dark" style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">YARIS PASSION HYBRID</h1>
                        <h1 class="p-3"> Premium LED Ön Farlar | Ön Cama Yansıtmalı Renkli Gösterge Ekranı (Head-Up Display) | Akıllı
                            Telefon Entegrasyonu | Kablosuz Şarj Ünitesi</h1>
                </div>
            </a>
            </div>

            <div class="carousel-item">
                <a href="#PRADO" class="nav-link">
                <img src="https://i.hizliresim.com/1i2y92i.png" alt="LAND CRUISER PRADO" class="d-block bg-dark" style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">LAND CRUISER PRADO</h1>
                        <h1 class="p-3"> Çoklu Arazi Seçimi (Multi-Terrain Select) | Arazi Kullanımı Destek Sistemi (Crawl Control) | 
                            Kinetik Dinamik Süspansiyon Sistemi (KDSS) | Adaptif Değişken Süspansiyon Sistemli (AVS) hidrolik direksiyon</h1>
                </div>
            </a>
            </div>

            <div class="carousel-item">
                <a href="#PROACE" class="nav-link">
                <img src="https://i.hizliresim.com/l0nk1yw.png" alt="PROACE CITY CARGO DREAM" class="d-block bg-dark" style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">PROACE CITY CARGO DREAM</h1>
                        <h1 class="p-3"> FONKSİYONEL VE PRATİK |
                            İŞİNİZİ KOLAYLAŞTIRAN AKILLI TASARIM</h1>
                </div>
            </a>
            </div>

            <div class="carousel-item">
                <a href="#CITY" class="nav-link">
                <img src="https://i.hizliresim.com/k9m1dsx.png" alt="PROACE CITY PASSION X-PACK A/T" class="d-block bg-dark" style="width:100%">
                <div class="p-5 bg-dark text-white-50 rounded">
                    <h4 class="p-3 text-white">PROACE CITY PASSION X-PACK A/T</h1>
                        <h1 class="p-3"> 3 Parça Bağımsız katlanabilir arka koltuklar | Çift Bölgeli Otomatik Klima | Isıtmalı Ön Koltuklar | Yansıtmalı Renkli Gösterge Ekranı</h1>
                </div>
            </a>
            </div>

        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="m-5 border border-secondary p-5 " id="Corolla">
        <h2>Yeni Corolla Fiyatları</h2>
        <table class="table table-hover mt-5 ">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.5 Vision</td>
                    <td>350.550</td>
                </tr>
                <tr>
                    <td>1.5 Vision Multidrive S</td>
                    <td>365.500</td>
                </tr>
                <tr>
                    <td>1.5 Dream</td>
                    <td>383.900</td>
                </tr>
                <tr>
                    <td>1.5 Dream Multidrive S</td>
                    <td>395.100</td>
                </tr>
                <tr>
                    <td>1.5 Flame</td>
                    <td>406.650</td>
                </tr>
                <tr>
                    <td>1.5 Flame Multidrive S</td>
                    <td>421.600</td>
                </tr>
                <tr>
                    <td>1.5 Flame X-Pack Multidrive S</td>
                    <td>444.450</td>
                </tr>
                <tr>
                    <td>1.5 Passion X-Pack Multidrive S</td>
                    <td>495.450</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="Hilux">
        <h2>Yenilenen Hilux Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hilux 2.4 D-4D 4x2 Adventure</td>
                    <td>470.900</td>
                </tr>
                <tr>
                    <td>Hilux 2.4 D-4D 4x2 Adventure A/T</td>
                    <td>486.250</td>
                </tr>
                <tr>
                    <td>Hilux 2.4 D-4D 4x4 Adventure</td>
                    <td>536.500</td>
                </tr>
                <tr>
                    <td>Hilux 2.4 D-4D 4x4 Hi-Cruiser A/T</td>
                    <td>559.800</td>
                </tr>
                <tr>
                    <td> Hilux 2.4 D-4D 4x4 Invincible A/T</td>
                    <td>609.750</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="CHR">
        <h2>Yeni Toyota C-HR Hybrid Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                    <th>Tavsiye Edilen 2021 MY
                        ÖTV Teşvikli Liste Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hybrid 4x2 Flame e-CVT</td>
                    <td>664.100</td>
                    <td>478.850</td>
                </tr>
                <tr>
                    <td>Hybrid 4x2 Passion e-CVT</td>
                    <td>719.800</td>
                    <td>518.950</td>
                </tr>
                <tr>
                    <td>Hybrid 4x2 Passion e-CVT (Siyah Tavan*)</td>
                    <td>728.900</td>
                    <td>525.500</td>
                </tr>
                <tr>
                    <td>Hybrid 4x2 Passion X-Pack e-CVT</td>
                    <td>772.300</td>
                    <td>556.700</td>
                </tr>
                <tr>
                    <td>Hybrid 4x2 Passion X-Pack e-CVT (Siyah Tavan*)</td>
                    <td>781.300</td>
                    <td>563.200</td>
                </tr>
                <tr>
                    <td>Hybrid 4x2 Passion X-Pack e-CVT (Siyah Tavan ve JBL**)</td>
                    <td>793.400</td>
                    <td>571.950</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="HATCHBACK">
        <h2>Yeni Corolla Hatchback Hybrid Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                    <th>Tavsiye Edilen 2021 MY
                        ÖTV Teşvikli Liste Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hybrid Dream e-CVT</td>
                    <td>669.100</td>
                    <td>513.600</td>
                </tr>
                <tr>
                    <td>Hybrid Dream X-Pack e-CVT</td>
                    <td>703.500</td>
                    <td>540.000</td>
                </tr>
                <tr>
                    <td>Hybrid Flame e-CVT</td>
                    <td>696.300</td>
                    <td>534.500</td>
                </tr>
                <tr>
                    <td>Hybrid Flame X-Pack e-CVT</td>
                    <td>725.400</td>
                    <td>556.800</td>
                </tr>
                <tr>
                    <td>Hybrid Passion X-Pack e-CVT</td>
                    <td>781.600</td>
                    <td>599.900</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="RAV4">
        <h2 class="">Yeni RAV4 Hybrid Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                    <th>Tavsiye Edilen 2021 MY
                        ÖTV Teşvikli Liste Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hybrid 4x4 Flame e-CVT</td>
                    <td>1.232.200</td>
                    <td>963.750</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="CAMRY">
        <h2 class="">Yeni Camry Hybrid Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2.5 Hybrid Passion e-CVT</td>
                    <td>1.462.950</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="YARIS">
        <h2 class="">Yeni Yaris Hybrid Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.5 Hybrid Dream e-CVT</td>
                    <td>479.900</td>
                </tr>
                <tr>
                    <td>1.5 Hybrid Flame e-CVT</td>
                    <td>501.500</td>
                </tr>
                <tr>
                    <td>1.5 Hybrid Passion e-CVT</td>
                    <td>539.300</td>
                </tr>
            </tbody>        
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="PRADO">
        <h2 class="">Land Cruiser Prado Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yeni Land Cruiser Prado 2.8 D-4D 204PS</td>
                    <td>2.957.000</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="PROACE">
        <h2 class="">Yeni Proace City Cargo Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.5 D 100 HP Vision 5 M/T</td>
                    <td>242.000</td>
                </tr>
                <tr>
                    <td>1.5 D 100 HP Dream 5 M/T</td>
                    <td>259.000</td>
                </tr>
                <tr>
                    <td>1.5 D 100 HP Vision 6 M/T</td>
                    <td>250.000</td>
                </tr>
                <tr>
                    <td>1.5 D 100 HP Dream 6 M/T</td>
                    <td>263.000</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5 border border-secondary p-5" id="CITY">
        <h2 class="">Yeni Proace City Fiyatları</h2>
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>Versiyon</th>
                    <th>Tavsiye Edilen 2021 MY
                        Fiyatları (TL)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.5 D 100 HP Dream*</td>
                    <td>301.800</td>
                </tr>
                <tr>
                    <td>1.5 D 100 HP Dream 6 M/T</td>
                    <td>305.400</td>
                </tr>
                <tr>
                    <td>1.5 D 130 HP Dream A/T*</td>
                    <td>335.900</td>
                </tr>
                <tr>
                    <td>1.5 D 130 HP Flame X-Pack A/T*</td>
                    <td>367.600</td>
                </tr>
                <tr>
                    <td>1.5 D 130 HP Passion X-Pack A/T</td>
                    <td>263.000</td>
                </tr>
            </tbody>
        </table>
    </div>